.Polaris-ResourceList {
    width: 100%;
}

.Polaris-ResourceList__ResourceListWrapper {
    width: 100%;
}

.Polaris-ButtonGroup {
    justify-content: right;
}

.Polaris-Frame__Content {
    background-color: white;
}