.Polaris-TopBar__Container {
    background-color: white;
}

.Polaris-TopBar-Menu__Activator {
    background-color: white !important;
}

.Polaris-Frame__Content {
    background-color: white;
}

.Polaris-ResourceItem {
    background-color: white !important;
}